.main_content_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.main_content_info .title_box {
  width: max-content;
  font-size: 35px !important;
  text-align: center;
  position: relative;
}
.title_box::after {
  content: "";
  position: absolute;
  top: 35%;
  left: -30px;
  width: 25px;
  height: 2px;
  border-radius: 20px;
  background: rgb(21, 68, 162);
}
.main_content_info p {
  font-size: 16px !important;
}
/* CONTENT WITH GALERY */
.galery_oficinas {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.galery_oficinas .card_oficina {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0px;
}
.galery_oficinas .card_oficina img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.galery_oficinas .card_oficina .name_card {
  font-size: 16px;
  font-weight: 600;
  color: var(--blue);
}
/* fin de content with galery */

/* CONTENT WITH DETAILS */
.row_reverse {
  flex-direction: row-reverse;
}

.detail_info {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 50px 40px 40px 0px;
}
.detail_info .img_info {
  width: 40%;
  height: 400px;
}
.detail_info .img_info img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.detail_info .text_content {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 20px;
  background: #02a26f;
}
.text_content .title_text {
  font-size: 25px;
  color: #cddc39;
}
.text_content .description_text {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.list_detail {
  margin-left: 30px;
}
.list_detail li {
  font-size: 16px;
  font-weight: 400;
  color: #f6ffa2;
}

/* FIN DECONTENT WITH DETAILS */
